{% extends 'base.html.twig' %}




    {% block body %}
        {{ dump(adresse) }}
        <form action="{{ path('panier_valide') }}" method="post">
            {% for adress in adresse %}
                <div class="d-flex flex-row col-12 border border-dark">
                    <div class="col-6 me-auto">
                        <p class="h4">{{ adress.adresselivraison }} {{ adress.codepostallivr }} {{ adress.villelivr }} {{ adress.idpays.nompays }}</p>
                    </div>
                    <div class="col-4 ms-auto">
                        <label for="adresse{{ adress.id }}">Selectionner cette adresse</label>
                        {% if adress.id=='1' %}
                            <input type="radio" id="adresse{{ adress.id }}" name="id_livr" value="{{ adress.id }}"
                                   checked>
                        {% else %}
                            <input type="radio" id="adresse{{ adress.id }}" name="id_livr" value="{{ adress.id }}"
                                   required>
                        {% endif %}
                    </div>
                    {% if adress.adrfacturation is same as(true) %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="{{ adress.id }}" id="adrfact" name="fact" required>
                            <label class="form-check-label" for="adrfact">
                                Cochez si vous voulez que cette adresse serve d'adresse de facturation.
                            </label>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="d-flex flex-row mt-3 mb-3">
                {% for objet in panier %}
                {# {{ dump(objet) }} #}
                <div class="card me-2">
                    <h5 class="card-header">{{ objet.produit.nomproduit }}</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{ objet.produit.prixproduit }}€</h5>
                        <p class="card-text">Nombre : {{ objet.quantite }}</p>
                    </div>
                </div>

            </div>
            {% endfor %}
            {% for mode in modes %}
                <div class="d-flex flex-row col-12 align-items-center border-bottom border-dark">
                    <div class="col-6 me-auto">
                        <p class="h5"> nom : {{ mode.nommode }} , libelle : {{ mode.libelleliv }} délai moyen
                            : {{ mode.delaimoyliv }}</p></div>
                    <div class="col-4 ms-auto"><label for="mode{{ mode.id }}">Séléctionnez votre mode de
                            livraison</label>
                        <input type="radio" value="{{ mode.id }}" required id="mode{{ mode.id }}" name="mode"></div>
                </div>
            {% endfor %}
            <div class="mt-3 d-flex flex-column">
                <div class="mb-2">
                    <label for="total">Total à payer : </label>
                    <input type="text" value="{{ total }}€" disabled id="total">
                </div>
                <div class="mt-2">
                    <input type="submit" class="btn btn-success" value="valider la commande">
                    <a href="{{ path('autre_adresse') }}" class="btn btn-info">Entrer une autre adresse de livraison
                        et/ou de facturation</a></div>
            </div>
            <div class="card">
                {% for objet in panier %}
                <div class="card-body">
                    <table class="table responsive">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </table>table>
                </div>
                {% else %}
                    <div class="card-footer">
                        <p colspan="8">phrase de refus</p>
                    </div>
                {% endfor %}
            </div>
            <label for="total">Total à payer : </label>
            <input type="text" value="{{ total }}€" disabled id="total">
            <input type="submit" class="btn btn-success" value="valider la commande">
            <a href="{{ path('autre_adresse') }}">Entrer une autre adresse</a>
    {% endblock %}