{% extends 'base.html.twig' %}




    {% block body %}

{#        {{ dump(adresse) }}#}
        {# <p>{{ adresse.0.villelivr }}</p> #}
        <form action="{{ path('panier_valide') }}" method="post">
            {% for adress in adresse %}
                <div class="d-flex flex-row col-12 border border-dark">
                    <div class="col-6">
                        <p class="h4">{{ adress.adresselivraison }} {{ adress.codepostallivr }} {{ adress.villelivr }} {{ adress.idpays.nompays }}</p>
                    </div>
                    <div class="col-6">
                        <label for="adresse{{ adress.id }}">Selectionner cette adresse</label>
                        {% if adress.id=='1' %}
                            <input type="radio" id="adresse{{ adress.id }}" name="id_livr" value="{{ adress.id }}"
                                   checked>
                        {% else %}
                            <input type="radio" id="adresse{{ adress.id }}" name="id_livr" value="{{ adress.id }}">
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="d-flex flex-row mt-3 mb-3">
                {% for objet in panier %}
                    {# {{ dump(objet) }} #}
                    <div class="card me-2">
                        <h5 class="card-header">{{ objet.produit.nomproduit }}</h5>
                        <div class="card-body">
                            <h5 class="card-title">{{ objet.produit.prixproduit }}€</h5>
                            <p class="card-text">Nombre : {{ objet.quantite }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <label for="total">Total à payer : </label>
            <input type="text" value="{{ total }}€" disabled id="total">
            <input type="submit" class="btn btn-success" value="valider la commande">
            <a href="{{ path('autre_adresse') }}">Entrer une autre adresse</a>
        </form>
    {% endblock %}