
{% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    <link href="{{ asset('css/liste_panier.css')}}" rel="stylesheet">
    <link href="{{ asset('css/panier.css')}}" rel="stylesheet">
{% endblock %}



{% extends 'base.html.twig' %}

{% block body %}
{#    {{ dump(app.session) }}#}
    {# {{ dump(objets) }} #}
    {% if  panier | length > 0 %}
        <form method="post" class="form-group">
            <div class="d-flex justify-content-end mb-3">
                <button type="submit" class="btn btn-dark shadow  rounded-pill me-2" value="" ><i class="fas fa-redo-alt"></i></div>
            <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Produit</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Disponibilité</th>
                    <th>Quantite</th>
                    <th>Prix</th>
                    <th>Supprimer</th>

                </tr>
                </thead>
                <tbody>
                {% for objets in panier %}
                    <tr>
                        <td><img src="{{asset('/images/')~objets.produit.image}}" class="pics img-fluid" id="pictures" alt="Photo smartphone"></td>
                        <td><b>{{ objets.produit.nomProduit }}</b></td>
                        <td>{{ objets.produit.libelleProduit }}</td>
                        <td>En stock le..</td>
                        <div class="d-flex align-items-end">
                        <td class="tasksInput">
                             <input type="number" class="border border-secondary" name="quantite[{{ objets.produit.id }}]" value="{{ objets.quantite }}" >
                        </td>
                        </div>
                        <td>{{ objets.produit.prixProduit*objets.quantite }}€</td>
                        <td><a href="{{ path('panier_remove', {'id': objets.produit.id}) }}" class="text-danger"><i
                                        class="far fa-trash-alt"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="bill text-end"><b>Total :</b></td>
                    <td class="bill"><b>{{ total }}€</b></td>
                </tr>
                </tfoot>
            </table>
            </div>

            <div class="container my-3 ">
                <div class="col-md-12 text-end">
                    <a href="{{ path('panier_addr') }}" class="btn btn-outline-dark rounded-pill  ">Valider la Commande</a>
                    <a href="{{ path('panier_remove_all') }}" class="btn btn-outline-danger rounded-pill"> Vider le panier</a>
                    <a href="{{ path('produits_index') }}" class="btn btn-outline-primary rounded-pill ">Continuer les achats</a>
                </div>
            </div>


    {% else %}
        <h2>Votre panier est actuellement vide.</h2>
        <a href="{{ path('produits_index') }}" class="btn btn-primary mt-1">Faire des achats!</a>

    {% endif %}
    <script src="https://kit.fontawesome.com/066785f9e9.js" crossorigin="anonymous"></script>
{% endblock %}