{% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    <link href="{{ asset('css/liste_panier.css')}}" rel="stylesheet">
{% endblock %}

{% extends 'base.html.twig' %}

{% block body %}
    {# {{ dump(objets) }} #}
    {% if  panier | length > 0 %}
        <form method="post" class="form-group">
            <div class="d-flex justify-content-end">
                <input type="submit" class="btn btn-info me-2" value="actualiser votre panier"></div>
            <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Produit</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Quantite</th>
                    <th>Prix</th>
                    <th>Supprimer</th>

                </tr>
                </thead>
                <tbody>
                {% for objets in panier %}
                    <tr>
                        <div >
                            <td><img src="{{asset('/images/')~objets.produit.image}}" class="pics img-fluid" id="pictures" alt="Photo smartphone"></td>
                        </div>
                        <td><b>{{ objets.produit.nomProduit }}</b></td>
                        <td>{{ objets.produit.libelleProduit }}</td>
                        <td class="tasksInput d-flex flex-row">
                                <input type="number" name="quantite[{{ objets.produit.id }}]" value="{{ objets.quantite }}" >
                        </td>
                        <td>{{ objets.produit.prixProduit*objets.quantite }}€</td>
                        <td><a href="{{ path('panier_remove', {'id': objets.produit.id}) }}" class="text-danger"><i
                                        class="far fa-trash-alt"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="bill text-end"><b>Total :</b></td>
                    <td class="bill"><b>{{ total }} €</b></td>
                </tr>
                </tfoot>
            </table>
            </div>
            <div class="d-flex justify-content-end">
                <div class="d-flex flex-column">
                    {#                    ajouter ici un if avec la session : si l'utilisateur est connecté, validation commande, sinon page connexion/inscription#}
                    <a href="" class="btn btn-success float-end mb-1">Valider la Commande</a>
                    <a href="{{ path('panier_remove_all') }}" class="btn btn-danger mb-1 mt-1"> Vider le panier</a>
                    <a href="{{ path('produits_index') }}" class="btn btn-primary mt-1">Continuer les achats</a>
                </div>
            </div>

        </form>
    {% else %}
        <h2>Votre panier est actuellement vide.</h2>
        <a href="{{ path('produits_index') }}" class="btn btn-primary mt-1">Faire des achats!</a>

    {% endif %}
    <script src="https://kit.fontawesome.com/066785f9e9.js" crossorigin="anonymous"></script>
{% endblock %}