<div class="row pt-2">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-auto">
    <div class="container-fluid ">
        <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse justify-content-center navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% for cat in categorie %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {{ cat.nomcat }}
                    </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for sous in souscat %}
                            {% if sous.idcat.id is same as(cat.id) %}
                            <li><a class="dropdown-item" href="{{ path('produits_cat', {'idcat' : sous.id}) }}">{{ sous.nomcat }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>

                </li>

                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('marques_index') }}">Marques</a>
                </li>
            </ul>
        </div>
    </div>
</nav>