{% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    <link href="{{ asset('css/liste_produits.css')}}" rel="stylesheet">
{% endblock %}


{% extends 'base.html.twig' %}
{% block title %}Produit index{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="mt-3 mb-4">Products</h1>
        <div class="row">
            {% for produit in produits %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{asset('/images/')~produit.image}}" class="card-img-top" id="pictures" alt="Photo album">
                        <div class="card-body">
                            <h5 class="card-title">{{ produit.nomProduit }}</h5>
                            <p class="card-text">{{ produit.libelleProduit }}</p>
                            <div class="d-flex justify-content-between align-item-center">
                                <a href="#" class="btn btn-dark btn-sm">Voir plus</a>
                                <span class="h5 mt-auto">{{ produit.prixProduit }} €</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div>
                    <p colspan="8">no product found</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}