{% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    <link href="{{ asset('css/liste_categories.css')}}" rel="stylesheet">
{% endblock %}

{% extends 'base.html.twig' %}
{% block title %}Categories index{% endblock %}
{% block body %}
    <h1 class="mt-3 mb-4">Categories</h1>
    <div class=" row">
        {% for category in categories %}
            <div class="col-xl-3 square col-sm-6 mb-2">
                <div class="card">
                    <div class="card-header text-center bg-white">
                        <img src="{{asset('/images/')~category.imageCat}}" class="img-fluid card-img-top " id="pictures" alt="Photo smartphone">
                    </div>
                    <div class="card-body">
                        <p class="display-6 card-title"><b>{{ category.nomCat }}</b></p>
                        <h5 class=" card-text">{{ category.libelleCat }}</h5>
                    </div>
                    <div class="card-footer bg-dark">
                        <a href="{{ path('categories_show', {'id': category.id}) }}" class="btn btn-dark  btn-block">Voir toutes les offres</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div>
                <p colspan="8">no product found</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{#    {{ dump(categories) }}#}