{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <div class="mb-3">
            {{ form_row(form.nom, { 'label': 'Nom', 'attr' : {'placeholder': 'Votre nom ...'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.prenom, { 'label': 'Prénom', 'attr' : {'placeholder': 'Votre prénom ...'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.mail, { 'label': 'Adresse mail', 'attr' : {'placeholder': 'Adresse mail ...'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.password, { 'label': 'Mot de passe', 'attr' : {'placeholder': 'Mot de passe ...'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.confirm_password, { 'label': 'Confirmation du mot de passe' , 'attr' : {'placeholder': 'Mot de passe ...'} }) }}
        </div>
        <div class="d-grid gap-2 d-sm-block">
            <button class="btn btn-danger">{{ button_label|default('Inscrption') }}</button>
            <a class="btn btn-secondary" href="{{ path('home') }}">Retour</a>
        </div>

{{ form_end(form) }}
