{% extends 'base.html.twig' %}

{% block title %}Utilisateurs index{% endblock %}

{% block body %}
    <h1>Utilisateurs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mail</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Code_postal</th>
                <th>Ville</th>
                <th>Adresse</th>
                <th>Date_naissance</th>
                <th>nom_role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.mail }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td>{{ utilisateur.codePostal }}</td>
                <td>{{ utilisateur.ville }}</td>
                <td>{{ utilisateur.adresse }}</td>
                <td>{{ utilisateur.dateNaissance ? utilisateur.dateNaissance|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ utilisateur.idRoleId ? utilisateur.idRoleId : '' }}</td>
                <td>{{ utilisateur.idPaysId ? utilisateur.idPaysId : '' }}</td>
                <td>
                    <a href="{{ path('utilisateurs_show', {'id': utilisateur.id}) }}">show</a>
                    <a href="{{ path('utilisateurs_edit', {'id': utilisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('utilisateurs_new') }}">Create new</a>
{% endblock %}
