{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ utilisateur.mail }}</td>
            </tr>
            <tr>
                <th>Mot_de_pass</th>
                <td>{{ utilisateur.motDePasse }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ utilisateur.telephone }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ utilisateur.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ utilisateur.ville }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ utilisateur.adresse }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{{ utilisateur.dateNaissance ? utilisateur.dateNaissance|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Id_role_id</th>
                <td>{{ utilisateur.idRoleId ? utilisateur.idRoleId : '' }}</td>
            </tr>
            <tr>
                <th>Id_pays_id</th>
                <td>{{ utilisateur.idPaysId ? utilisateur.idPaysId : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('utilisateurs_index') }}">back to list</a>

    <a href="{{ path('utilisateurs_edit', {'id': utilisateur.id}) }}">edit</a>

    {{ include('utilisateurs/_delete_form.html.twig') }}
{% endblock %}
