{% block stylesheets %}
    {# {{ encore_entry_link_tags('app') }} #}
    <link href="{{ asset('css/styleH.css') }}" rel="stylesheet">
{% endblock %}

{% extends 'base.html.twig' %}

{% block title %}Liste Marques{% endblock %}

{% block body %}
    <h1>Liste des marques</h1>

    <div class=" row">
        {% for marque in marques %}
            <div class="col-xl-3 square col-sm-6 mb-2">
                <div class="card mb-3 rounded-pill ">
                    <div class="card-header rounded-pill bg-white">
                        <a href="{{ path ('marques_produits', { 'id':marque.id }) }}">
                            <img src="{{ asset('/images/')~marque.logoMarque }}" class="img-fluid rounded-pill "
                                 id="pictures" alt="Logo Marques">
                        </a>
                    </div>

                    <div class="card-body rounded-pill text-center">
                        <p class="display-6 card-title"><b>{{ marque.nomMarque }}</b></p>
                        <h5 class="card-text ">{{ marque.libelleMarque }}</h5>
                    </div>
                </div>
            </div>
        {% else %}
            <div>
                <p colspan="8">no product found</p>
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('marques_new') }}" class="btn btn-info">Ajouter une Marque</a>
{% endblock %}
