{% extends 'base.html.twig' %}

{% block title %}Marques{% endblock %}

{% block body %}
    <h1>Marques</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marque.id }}</td>
            </tr>
            <tr>
                <th>Nom_marque</th>
                <td>{{ marque.nomMarque }}</td>
            </tr>
            <tr>
                <th>Libelle_marque</th>
                <td>{{ marque.libelleMarque }}</td>
            </tr>
            <tr>
                <th>Logo_marque</th>
                <td>{{ marque.logoMarque }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('marques_index') }}">back to list</a>

    <a href="{{ path('marques_edit', {'id': marque.id}) }}">edit</a>

    {{ include('marques/_delete_form.html.twig') }}
{% endblock %}
