{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCat</th>
                <th>NomCat</th>
                <th>LibelleCat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.idCat }}</td>
                <td>{{ categorie.nomCat }}</td>
                <td>{{ categorie.libelleCat }}</td>
                <td>
                    <a href="{{ path('categorie_show', {'idCat': categorie.idCat}) }}">show</a>
                    <a href="{{ path('categorie_edit', {'idCat': categorie.idCat}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_new') }}">Create new</a>
{% endblock %}
